<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>
	    {{ if eq .Url "/" }}
	      {{ .Site.Params.Title }} &middot; {{ .Site.Params.Tagline }}
	    {{ else }}
	      {{ .Title }} &middot; {{ .Site.Params.Title }}
	    {{ end }}
  	</title>

	<!-- <meta name='robots' content='noindex,follow' />
	<link rel="alternate" type="application/rss+xml" title="Beluga Demo &raquo; Feed" href="http://demo.basilosaur.us/beluga/feed/" /> -->
	<link rel='stylesheet' id='theme-slug-fonts-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C600%2C700%2C800&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
	<link rel='stylesheet' id='jkallhoff-style-css'  href='/css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='genericons-css'  href='/css/genericons.css' type='text/css' media='all' />
	<script type='text/javascript' src='/js/jquery.js'></script>
	<script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
	<!-- <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.basilosaur.us/beluga/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.basilosaur.us/beluga/wp-includes/wlwmanifest.xml" /> -->
</head>
<body class="home blog custom-background">
	<div id="page" class="hfeed site">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
			<header id="masthead" class="site-header" style="background-image:url('https://pbs.twimg.com/profile_banners/21500156/1407800385/1500x500');" role="banner">
				<div class="masthead-opacity"></div>
				<div class="site-branding">
					<h1 class="site-title"><a href="/" rel="home">Jesse Kallhoff</a></h1>
					<h2 class="site-description">development blog</h2>
				</div>
			</header><!-- #masthead -->
			


			<div id="site-menu" class="site-menu clear">
				<div id="menu-inner">
					<nav class="main-navigation menu-column" role="navigation">
						<div class="menu-testing-menu-container">
						</div>				
					</nav><!-- #site-navigation -->
					<div class="sidebar sidebar-1  menu-column justified">
			 			<aside id="text-2" class="widget widget_text">
			 				<h2 class="widget-title">About</h2>			
			 				<div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			 				</div>
						</aside>	
					</div>
				</div>
				<nav id="menu-button" class="clear">
					<a href="#"><span class="genericon genericon-menu"></span></a>
				</nav>
			</div>
			<div id="content" class="site-content">
				<div id="primary" class="content-area">
					<div class="inner">
						<main id="main" class="site-main" role="main">