<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>
	    {{ if eq .Url "/" }}
	      {{ .Site.Params.Title }} &middot; {{ .Site.Params.Tagline }}
	    {{ else }}
	      {{ .Title }} &middot; {{ .Site.Params.Title }}
	    {{ end }}
  	</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<!-- <meta name='robots' content='noindex,follow' />
	<link rel="alternate" type="application/rss+xml" title="Beluga Demo &raquo; Feed" href="http://demo.basilosaur.us/beluga/feed/" /> -->
	<link rel='stylesheet' id='theme-slug-fonts-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C600%2C700%2C800&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
	<link rel='stylesheet' id='jkallhoff-style-css'  href='/css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='genericons-css'  href='/css/genericons.css' type='text/css' media='all' />
	<script type='text/javascript' src='/js/jquery.js'></script>
	<script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
	<!-- <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.basilosaur.us/beluga/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.basilosaur.us/beluga/wp-includes/wlwmanifest.xml" /> -->
</head>
<body class="home blog custom-background">
	<div id="page" class="hfeed site">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
			<header id="masthead" class="site-header" style="background-image:url('https://pbs.twimg.com/profile_banners/21500156/1407800385/1500x500');" role="banner">
				<div style="padding-right: 18px; padding-top: 18px; position: absolute; top: 0; right: 0; z-index: 3">
					<a href="https://twitter.com/jkallhoff" rel="twitter" style="border-bottom: none"><img src="/img/twitter-24.png" /></a>
					<a href="https://github.com/JKallhoff" rel="github" style="border-bottom: none"><img src="/img/github-11-24.png"></a>
					<a href="http://www.linkedin.com/in/jessekallhoff" rel="linkedin" style="border-bottom: none"><img src="/img/linkedin-6-24.png"></a>
				</div>
				<div class="masthead-opacity"></div>
				<div class="site-branding">
					<h1 class="site-title"><a href="/" rel="home">Jesse Kallhoff</a></h1>
					<h2 class="site-description">development blog</h2>
				</div>
			</header><!-- #masthead -->
			


			<div id="site-menu" class="site-menu clear">
				<div id="menu-inner">
					<nav class="main-navigation menu-column" role="navigation">
						<div class="menu-testing-menu-container">
							<ul id="menu-testing-menu" class="menu">
								<li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
									<a href="#">Social</a>
									<ul class="sub-menu">
										<li class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="https://twitter.com/jkallhoff">@jkallhoff (Twitter)</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="https://github.com/JKallhoff" rel="github" style="border-bottom: none">Github</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="http://www.linkedin.com/in/jessekallhoff" rel="linkedin" style="border-bottom: none">LinkedIn</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
									<a href="#">Site Pages</a>
									<ul class="sub-menu">
										<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
											<a href="http://demo.basilosaur.us/beluga/category/markup/">Markup</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>			
					</nav><!-- #site-navigation -->
					<div class="sidebar sidebar-2  menu-column justified">
						<aside id="tag_cloud-2" class="widget widget_tag_cloud">
							<h2 class="widget-title">Tags</h2>
							<div class="tagcloud">
						  		{{ range $name, $taxonomy := .Site.Taxonomies.tags.ByCount }}
									<a href="/tags/{{ $taxonomy.Term | urlize }}" title="$name" style='font-size: 9pt;'>{{ $taxonomy.Term }}</a>
  								{{ end }}
							</div>
						</aside>		
					</div>
					<div class="sidebar sidebar-2  menu-column justified">
						<aside id="tag_cloud-2" class="widget widget_tag_cloud">
							<h2 class="widget-title">Series</h2>
							<div class="tagcloud">
						  		{{ range $name, $taxonomy := .Site.Taxonomies.series.ByCount }}
									<a href="/series/{{ $taxonomy.Term | urlize }}" title="$name" style='font-size: 9pt;'>{{ $taxonomy.Term }}</a>
  								{{ end }}
							</div>
						</aside>		
					</div>
				</div>
				<nav id="menu-button" class="clear">
					<a href="#"><span class="genericon genericon-menu"></span></a>
				</nav>
			</div>
			<div id="content" class="site-content">
				<div id="primary" class="content-area">
					<div class="inner">
						<main id="main" class="site-main" role="main">