{{ partial "header.html" . }}


<body class="home blog custom-background">
<div id="page" class="hfeed site">
	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

	<header id="masthead" class="site-header" style="background-image:url('https://pbs.twimg.com/profile_banners/21500156/1407800385/1500x500');" role="banner">
		<div class="masthead-opacity"></div>
		<div class="site-branding">
			<h1 class="site-title"><a href="/" rel="home">Jesse Kallhoff</a></h1>
			<h2 class="site-description">.NET, Go, Stuff</h2>
		</div>
	</header><!-- #masthead -->
<div id="site-menu" class="site-menu clear">
	<div id="menu-inner">
		<nav class="main-navigation menu-column" role="navigation">
			<div class="menu-testing-menu-container"><ul id="menu-testing-menu" class="menu"><li id="menu-item-1690" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1690"><a href="#">Pages</a>
<ul class="sub-menu">
	<li id="menu-item-1732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1732"><a href="http://demo.basilosaur.us/beluga/about/page-image-alignment/">Page Image Alignment</a></li>
	<li id="menu-item-1735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1735"><a href="http://demo.basilosaur.us/beluga/about/page-markup-and-formatting/">Page Markup And Formatting</a></li>
</ul>
</li>
<li id="menu-item-1691" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1691"><a href="#">Categories</a>
<ul class="sub-menu">
	<li id="menu-item-1692" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1692"><a href="http://demo.basilosaur.us/beluga/category/markup/">Markup</a></li>
	<li id="menu-item-1693" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1693"><a href="http://demo.basilosaur.us/beluga/category/post-formats/">Post Formats</a></li>
	<li id="menu-item-1694" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1694"><a href="http://demo.basilosaur.us/beluga/category/unpublished/">Unpublished</a></li>
</ul>
</li>
<li id="menu-item-1706" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1706"><a href="#">Advanced</a>
<ul class="sub-menu">
	<li id="menu-item-1708" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1708"><a title="Custom Title Attribute" href="#">Menu Title Attribute</a></li>
	<li id="menu-item-1709" class="custom-menu-css-class menu-item menu-item-type-custom menu-item-object-custom menu-item-1709"><a href="#">Menu CSS Class</a></li>
	<li id="menu-item-1710" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1710"><a target="_blank" href="http://apple.com">New Window / Tab</a></li>
</ul>
</li>
</ul></div>			<form role="search" method="get" class="search-form" action="http://demo.basilosaur.us/beluga/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form>		</nav><!-- #site-navigation -->
		<div class="sidebar sidebar-1  menu-column justified">
			 <aside id="text-2" class="widget widget_text"><h2 class="widget-title">About</h2>			<div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</aside>		</div>
		<div class="sidebar sidebar-2  menu-column justified">
			 		<aside id="recent-posts-2" class="widget widget_recent_entries">		<h2 class="widget-title">Recent</h2>		<ul>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2014/08/24/an-excerpt-from-typee/">An Excerpt from Typee</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2014/08/24/a-versitile-and-compelling-theme/">A Versitile and Compelling Theme</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2014/08/24/just-a-brief-aside/">Just a Brief Aside</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2014/08/24/beautiful-text-and-images/">Beautiful Text and Images</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2014/08/24/hello-world/">Hello world!</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2013/01/11/markup-html-tags-and-formatting/">Markup: HTML Tags and Formatting</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2013/01/10/markup-image-alignment/">Markup: Image Alignment</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2013/01/09/markup-text-alignment/">Markup: Text Alignment</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2013/01/05/title-with-special-characters/">Markup: Title With Special Characters</a>
						</li>
					<li>
				<a href="http://demo.basilosaur.us/beluga/2013/01/05/markup-title-with-markup/">Markup: Title With Markup</a>
						</li>
				</ul>
		</aside>		</div>
		<div class="sidebar sidebar-2  menu-column justified">
			 <aside id="tag_cloud-2" class="widget widget_tag_cloud"><h2 class="widget-title">Tags</h2><div class="tagcloud"><a href='http://demo.basilosaur.us/beluga/tag/8bit/' class='tag-link-67' title='1 topic' style='font-size: 8pt;'>8BIT</a>
<a href='http://demo.basilosaur.us/beluga/tag/alignment-2/' class='tag-link-68' title='3 topics' style='font-size: 12.375pt;'>alignment</a>
<a href='http://demo.basilosaur.us/beluga/tag/antarctica/' class='tag-link-69' title='1 topic' style='font-size: 8pt;'>antarctica</a>
<a href='http://demo.basilosaur.us/beluga/tag/articles/' class='tag-link-70' title='1 topic' style='font-size: 8pt;'>Articles</a>
<a href='http://demo.basilosaur.us/beluga/tag/aside/' class='tag-link-71' title='2 topics' style='font-size: 10.625pt;'>aside</a>
<a href='http://demo.basilosaur.us/beluga/tag/audio/' class='tag-link-72' title='1 topic' style='font-size: 8pt;'>audio</a>
<a href='http://demo.basilosaur.us/beluga/tag/bear/' class='tag-link-74' title='1 topic' style='font-size: 8pt;'>bear</a>
<a href='http://demo.basilosaur.us/beluga/tag/captions-2/' class='tag-link-75' title='2 topics' style='font-size: 10.625pt;'>captions</a>
<a href='http://demo.basilosaur.us/beluga/tag/categories/' class='tag-link-76' title='2 topics' style='font-size: 10.625pt;'>categories</a>
<a href='http://demo.basilosaur.us/beluga/tag/chat/' class='tag-link-77' title='2 topics' style='font-size: 10.625pt;'>chat</a>
<a href='http://demo.basilosaur.us/beluga/tag/codex/' class='tag-link-81' title='3 topics' style='font-size: 12.375pt;'>Codex</a>
<a href='http://demo.basilosaur.us/beluga/tag/comments-2/' class='tag-link-82' title='4 topics' style='font-size: 13.833333333333pt;'>comments</a>
<a href='http://demo.basilosaur.us/beluga/tag/content-2/' class='tag-link-83' title='13 topics' style='font-size: 20.395833333333pt;'>content</a>
<a href='http://demo.basilosaur.us/beluga/tag/css/' class='tag-link-85' title='8 topics' style='font-size: 17.479166666667pt;'>css</a>
<a href='http://demo.basilosaur.us/beluga/tag/dowork/' class='tag-link-89' title='1 topic' style='font-size: 8pt;'>dowork</a>
<a href='http://demo.basilosaur.us/beluga/tag/edge-case/' class='tag-link-90' title='8 topics' style='font-size: 17.479166666667pt;'>edge case</a>
<a href='http://demo.basilosaur.us/beluga/tag/embeds-2/' class='tag-link-91' title='4 topics' style='font-size: 13.833333333333pt;'>embeds</a>
<a href='http://demo.basilosaur.us/beluga/tag/excerpt-2/' class='tag-link-95' title='3 topics' style='font-size: 12.375pt;'>excerpt</a>
<a href='http://demo.basilosaur.us/beluga/tag/fail/' class='tag-link-96' title='1 topic' style='font-size: 8pt;'>Fail</a>
<a href='http://demo.basilosaur.us/beluga/tag/featured-image/' class='tag-link-97' title='3 topics' style='font-size: 12.375pt;'>featured image</a>
<a href='http://demo.basilosaur.us/beluga/tag/formatting-2/' class='tag-link-100' title='1 topic' style='font-size: 8pt;'>formatting</a>
<a href='http://demo.basilosaur.us/beluga/tag/ftw/' class='tag-link-101' title='1 topic' style='font-size: 8pt;'>FTW</a>
<a href='http://demo.basilosaur.us/beluga/tag/fun/' class='tag-link-102' title='1 topic' style='font-size: 8pt;'>Fun</a>
<a href='http://demo.basilosaur.us/beluga/tag/gallery/' class='tag-link-103' title='3 topics' style='font-size: 12.375pt;'>gallery</a>
<a href='http://demo.basilosaur.us/beluga/tag/html/' class='tag-link-110' title='5 topics' style='font-size: 15pt;'>html</a>
<a href='http://demo.basilosaur.us/beluga/tag/image/' class='tag-link-111' title='7 topics' style='font-size: 16.75pt;'>image</a>
<a href='http://demo.basilosaur.us/beluga/tag/jetpack-2/' class='tag-link-114' title='3 topics' style='font-size: 12.375pt;'>jetpack</a>
<a href='http://demo.basilosaur.us/beluga/tag/layout/' class='tag-link-116' title='4 topics' style='font-size: 13.833333333333pt;'>layout</a>
<a href='http://demo.basilosaur.us/beluga/tag/link/' class='tag-link-117' title='2 topics' style='font-size: 10.625pt;'>link</a>
<a href='http://demo.basilosaur.us/beluga/tag/lists-2/' class='tag-link-118' title='1 topic' style='font-size: 8pt;'>lists</a>
<a href='http://demo.basilosaur.us/beluga/tag/love/' class='tag-link-121' title='1 topic' style='font-size: 8pt;'>Love</a>
<a href='http://demo.basilosaur.us/beluga/tag/markup-2/' class='tag-link-122' title='6 topics' style='font-size: 16.020833333333pt;'>markup</a>
<a href='http://demo.basilosaur.us/beluga/tag/media/' class='tag-link-123' title='1 topic' style='font-size: 8pt;'>media</a>
<a href='http://demo.basilosaur.us/beluga/tag/melville/' class='tag-link-124' title='1 topic' style='font-size: 8pt;'>Melville</a>
<a href='http://demo.basilosaur.us/beluga/tag/post-formats/' class='tag-link-38' title='17 topics' style='font-size: 22pt;'>Post Formats</a>
<a href='http://demo.basilosaur.us/beluga/tag/quote/' class='tag-link-147' title='3 topics' style='font-size: 12.375pt;'>quote</a>
<a href='http://demo.basilosaur.us/beluga/tag/shortcode/' class='tag-link-154' title='6 topics' style='font-size: 16.020833333333pt;'>shortcode</a>
<a href='http://demo.basilosaur.us/beluga/tag/standard-2/' class='tag-link-156' title='2 topics' style='font-size: 10.625pt;'>standard</a>
<a href='http://demo.basilosaur.us/beluga/tag/template/' class='tag-link-168' title='12 topics' style='font-size: 19.8125pt;'>template</a>
<a href='http://demo.basilosaur.us/beluga/tag/theme-demo-2/' class='tag-link-171' title='3 topics' style='font-size: 12.375pt;'>theme demo</a>
<a href='http://demo.basilosaur.us/beluga/tag/title/' class='tag-link-174' title='5 topics' style='font-size: 15pt;'>title</a>
<a href='http://demo.basilosaur.us/beluga/tag/twitter-2/' class='tag-link-176' title='2 topics' style='font-size: 10.625pt;'>twitter</a>
<a href='http://demo.basilosaur.us/beluga/tag/video/' class='tag-link-180' title='3 topics' style='font-size: 12.375pt;'>video</a>
<a href='http://demo.basilosaur.us/beluga/tag/videopress/' class='tag-link-181' title='2 topics' style='font-size: 10.625pt;'>videopress</a>
<a href='http://demo.basilosaur.us/beluga/tag/wordpress-tv/' class='tag-link-184' title='2 topics' style='font-size: 10.625pt;'>wordpress.tv</a></div>
</aside>		</div>
	</div>
	<nav id="menu-button" class="clear">
		<a href="#"><span class="genericon genericon-menu"></span></a>
	</nav>
</div>
	<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<div class="inner">
			<main id="main" class="site-main" role="main">

			
								
					
<article id="post-1241" class="post-1241 post type-post status-publish format-standard sticky hentry category-uncategorized tag-sticky-2 tag-template">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2012/01/07/template-sticky/" rel="bookmark">Template: Sticky</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2012/01/07/template-sticky/" rel="bookmark"><time class="entry-date published" datetime="2012-01-07T07:07:21+00:00">January 7, 2012</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<p>This is a sticky post. There are a few things to verify: The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice. They should show at the very top [&hellip;]</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/uncategorized/" rel="category tag">Uncategorized</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/sticky-2/" rel="tag">sticky</a>, <a href="http://demo.basilosaur.us/beluga/tag/template/" rel="tag">template</a>			</span>
					
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1755" class="post-1755 post type-post status-publish format-quote hentry category-quotes category-theme-demo tag-herman-melville tag-melville tag-quotation tag-quote tag-typee">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2014/08/24/an-excerpt-from-typee/" rel="bookmark">An Excerpt from Typee</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2014/08/24/an-excerpt-from-typee/" rel="bookmark"><time class="entry-date published" datetime="2014-08-24T21:20:46+00:00">August 24, 2014</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<blockquote><p>It was quite amusing, too, to see with what earnestness they disclaimed all cannibal propensities on their own part, while they denounced their enemies—the Typees—as inveterate gourmandizers of human flesh; but this is a peculiarity to which I shall hereafter have occasion to allude.</p></blockquote>
<p><cite>Herman Melville, noted 19th-century author</cite></p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/quotes/" rel="category tag">Quotes</a>, <a href="http://demo.basilosaur.us/beluga/category/theme-demo/" rel="category tag">Theme Demo</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/herman-melville/" rel="tag">Herman Melville</a>, <a href="http://demo.basilosaur.us/beluga/tag/melville/" rel="tag">Melville</a>, <a href="http://demo.basilosaur.us/beluga/tag/quotation/" rel="tag">quotation</a>, <a href="http://demo.basilosaur.us/beluga/tag/quote/" rel="tag">quote</a>, <a href="http://demo.basilosaur.us/beluga/tag/typee/" rel="tag">Typee</a>			</span>
					
				&nbsp;|&nbsp;&nbsp;<span class="comments-link"><a href="http://demo.basilosaur.us/beluga/2014/08/24/an-excerpt-from-typee/#respond" title="Comment on An Excerpt from Typee">Leave a comment</a></span>
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1751" class="post-1751 post type-post status-publish format-standard has-post-thumbnail hentry category-blogroll category-parent category-theme-demo tag-antarctica tag-content-2 tag-css tag-lorem-ipsul tag-post-formats tag-theme-demo-2">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2014/08/24/a-versitile-and-compelling-theme/" rel="bookmark">A Versitile and Compelling Theme</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2014/08/24/a-versitile-and-compelling-theme/" rel="bookmark"><time class="entry-date published" datetime="2014-08-24T21:18:37+00:00">August 24, 2014</time><time class="updated" datetime="2014-08-24T21:21:28+00:00">August 24, 2014</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
		<a href="http://demo.basilosaur.us/beluga/2014/08/24/a-versitile-and-compelling-theme/" rel="bookmark"><img width="680" height="300" src="http://demo.basilosaur.us/beluga/wp-content/uploads/sites/3/2014/08/antarctica-352396-680x300.jpg" class="aligncenter wp-post-image" alt="Antarctica" /></a>	</div>
	<div class="entry-content justified">
		<p>In vestibulum odio odio, eget bibendum mauris consequat in. Cras fermentum et risus ut tincidunt. Fusce faucibus congue leo congue tempus. Nam posuere nunc nec augue tincidunt, ut feugiat nisl elementum. In vel massa metus. Curabitur dignissim magna ac metus rhoncus, et tincidunt orci posuere. Nam non nunc quis augue volutpat hendrerit. Ut ut interdum [&hellip;]</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/blogroll/" rel="category tag">Blogroll</a>, <a href="http://demo.basilosaur.us/beluga/category/parent/" rel="category tag">Parent</a>, <a href="http://demo.basilosaur.us/beluga/category/theme-demo/" rel="category tag">Theme Demo</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/antarctica/" rel="tag">antarctica</a>, <a href="http://demo.basilosaur.us/beluga/tag/content-2/" rel="tag">content</a>, <a href="http://demo.basilosaur.us/beluga/tag/css/" rel="tag">css</a>, <a href="http://demo.basilosaur.us/beluga/tag/lorem-ipsul/" rel="tag">lorem ipsul</a>, <a href="http://demo.basilosaur.us/beluga/tag/post-formats/" rel="tag">Post Formats</a>, <a href="http://demo.basilosaur.us/beluga/tag/theme-demo-2/" rel="tag">theme demo</a>			</span>
					
				&nbsp;|&nbsp;&nbsp;<span class="comments-link"><a href="http://demo.basilosaur.us/beluga/2014/08/24/a-versitile-and-compelling-theme/#respond" title="Comment on A Versitile and Compelling Theme">Leave a comment</a></span>
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1749" class="post-1749 post type-post status-publish format-aside hentry category-theme-demo tag-aside tag-short-post tag-theme-demo-2">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2014/08/24/just-a-brief-aside/" rel="bookmark">Just a Brief Aside</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2014/08/24/just-a-brief-aside/" rel="bookmark"><time class="entry-date published" datetime="2014-08-24T21:15:37+00:00">August 24, 2014</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<p>Mauris id aliquam justo, a malesuada dolor. Donec sed felis ligula. Cras sapien nulla, rhoncus ac blandit et, feugiat sit amet purus. Donec rhoncus, neque ut mattis sodales, neque odio eleifend enim, sed rhoncus dolor tortor ut ante. Cras eleifend ante id gravida laoreet. Maecenas blandit nibh eu nulla rutrum luctus. Nunc pharetra dolor massa, lobortis malesuada magna bibendum in. Integer aliquam, nunc sed condimentum semper, justo orci vestibulum lacus, mollis hendrerit nisl dui sed magna. Etiam ut mi eleifend, malesuada augue et, rhoncus eros. Sed mattis, augue nec dictum blandit, metus dolor feugiat est, ut eleifend ligula sapien vitae ex. </p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/theme-demo/" rel="category tag">Theme Demo</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/aside/" rel="tag">aside</a>, <a href="http://demo.basilosaur.us/beluga/tag/short-post/" rel="tag">short post</a>, <a href="http://demo.basilosaur.us/beluga/tag/theme-demo-2/" rel="tag">theme demo</a>			</span>
					
				&nbsp;|&nbsp;&nbsp;<span class="comments-link"><a href="http://demo.basilosaur.us/beluga/2014/08/24/just-a-brief-aside/#respond" title="Comment on Just a Brief Aside">Leave a comment</a></span>
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1744" class="post-1744 post type-post status-publish format-standard has-post-thumbnail hentry category-theme-demo tag-bear tag-reptile tag-theme-demo-2">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2014/08/24/beautiful-text-and-images/" rel="bookmark">Beautiful Text and Images</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2014/08/24/beautiful-text-and-images/" rel="bookmark"><time class="entry-date published" datetime="2014-08-24T21:14:33+00:00">August 24, 2014</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
		<a href="http://demo.basilosaur.us/beluga/2014/08/24/beautiful-text-and-images/" rel="bookmark"><img width="680" height="300" src="http://demo.basilosaur.us/beluga/wp-content/uploads/sites/3/2014/08/1sQjaIW-680x300.jpg" class="aligncenter wp-post-image" alt="Bear" /></a>	</div>
	<div class="entry-content justified">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis enim blandit, pharetra erat ac, dignissim metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras mi massa, suscipit in pellentesque a, fermentum ut nibh. Donec a magna eget ante ultrices egestas. Proin fringilla risus vitae ipsum volutpat pharetra. Proin [&hellip;]</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/theme-demo/" rel="category tag">Theme Demo</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/bear/" rel="tag">bear</a>, <a href="http://demo.basilosaur.us/beluga/tag/reptile/" rel="tag">reptile</a>, <a href="http://demo.basilosaur.us/beluga/tag/theme-demo-2/" rel="tag">theme demo</a>			</span>
					
				&nbsp;|&nbsp;&nbsp;<span class="comments-link"><a href="http://demo.basilosaur.us/beluga/2014/08/24/beautiful-text-and-images/#respond" title="Comment on Beautiful Text and Images">Leave a comment</a></span>
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2014/08/24/hello-world/" rel="bookmark">Hello world!</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2014/08/24/hello-world/" rel="bookmark"><time class="entry-date published" datetime="2014-08-24T21:01:05+00:00">August 24, 2014</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<p>Welcome to Basilosaur.us Theme Demo Sites. This is your first post. Edit or delete it, then start blogging!</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/uncategorized/" rel="category tag">Uncategorized</a>			</span>
			
					
				&nbsp;|&nbsp;&nbsp;<span class="comments-link"><a href="http://demo.basilosaur.us/beluga/2014/08/24/hello-world/#comments" title="Comment on Hello world!">1 Comment</a></span>
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1178" class="post-1178 post type-post status-publish format-standard hentry category-markup tag-content-2 tag-css tag-formatting-2 tag-html tag-markup-2">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2013/01/11/markup-html-tags-and-formatting/" rel="bookmark">Markup: HTML Tags and Formatting</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2013/01/11/markup-html-tags-and-formatting/" rel="bookmark"><time class="entry-date published" datetime="2013-01-11T20:22:19+00:00">January 11, 2013</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<p>Headings Header one Header two Header three Header four Header five Header six Blockquotes Single line blockquote: Stay hungry. Stay foolish. Multi line blockquote with a cite reference: People think focus means saying yes to the thing you&#8217;ve got to focus on. But that&#8217;s not what it means at all. It means saying no to [&hellip;]</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/markup/" rel="category tag">Markup</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/content-2/" rel="tag">content</a>, <a href="http://demo.basilosaur.us/beluga/tag/css/" rel="tag">css</a>, <a href="http://demo.basilosaur.us/beluga/tag/formatting-2/" rel="tag">formatting</a>, <a href="http://demo.basilosaur.us/beluga/tag/html/" rel="tag">html</a>, <a href="http://demo.basilosaur.us/beluga/tag/markup-2/" rel="tag">markup</a>			</span>
					
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1177" class="post-1177 post type-post status-publish format-standard has-post-thumbnail hentry category-markup tag-alignment-2 tag-captions-2 tag-content-2 tag-css tag-image tag-markup-2">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2013/01/10/markup-image-alignment/" rel="bookmark">Markup: Image Alignment</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2013/01/10/markup-image-alignment/" rel="bookmark"><time class="entry-date published" datetime="2013-01-10T20:15:40+00:00">January 10, 2013</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
		<a href="http://demo.basilosaur.us/beluga/2013/01/10/markup-image-alignment/" rel="bookmark"><img width="680" height="300" src="http://demo.basilosaur.us/beluga/wp-content/uploads/sites/3/2013/03/soworthloving-wallpaper-680x300.jpg" class="aligncenter wp-post-image" alt="I Am Worth Loving Wallpaper" /></a>	</div>
	<div class="entry-content justified">
		<p>Welcome to image alignment! The best way to demonstrate the ebb and flow of the various image positioning options is to nestle them snuggly among an ocean of words. Grab a paddle and let&#8217;s get started. On the topic of alignment, it should be noted that users can choose from the options of None, Left, Right, and Center. In [&hellip;]</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/markup/" rel="category tag">Markup</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/alignment-2/" rel="tag">alignment</a>, <a href="http://demo.basilosaur.us/beluga/tag/captions-2/" rel="tag">captions</a>, <a href="http://demo.basilosaur.us/beluga/tag/content-2/" rel="tag">content</a>, <a href="http://demo.basilosaur.us/beluga/tag/css/" rel="tag">css</a>, <a href="http://demo.basilosaur.us/beluga/tag/image/" rel="tag">image</a>, <a href="http://demo.basilosaur.us/beluga/tag/markup-2/" rel="tag">markup</a>			</span>
					
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1176" class="post-1176 post type-post status-publish format-standard hentry category-markup tag-alignment-2 tag-content-2 tag-css tag-markup-2">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2013/01/09/markup-text-alignment/" rel="bookmark">Markup: Text Alignment</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2013/01/09/markup-text-alignment/" rel="bookmark"><time class="entry-date published" datetime="2013-01-09T09:00:39+00:00">January 9, 2013</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<p>Default This is a paragraph. It should not have any alignment of any kind. It should just flow like you would normally expect. Nothing fancy. Just straight up text, free flowing, with love. Completely neutral and not picking a side or sitting on the fence. It just is. It just freaking is. It likes where [&hellip;]</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/markup/" rel="category tag">Markup</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/alignment-2/" rel="tag">alignment</a>, <a href="http://demo.basilosaur.us/beluga/tag/content-2/" rel="tag">content</a>, <a href="http://demo.basilosaur.us/beluga/tag/css/" rel="tag">css</a>, <a href="http://demo.basilosaur.us/beluga/tag/markup-2/" rel="tag">markup</a>			</span>
					
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1174" class="post-1174 post type-post status-publish format-standard hentry category-markup tag-html tag-markup-2 tag-post tag-title">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2013/01/05/title-with-special-characters/" rel="bookmark">Markup: Title With Special Characters</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2013/01/05/title-with-special-characters/" rel="bookmark"><time class="entry-date published" datetime="2013-01-05T11:00:20+00:00">January 5, 2013</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<p>Putting special characters in the title should have no adverse effect on the layout or functionality. Special characters in the post title have been known to cause issues with JavaScript when it is minified, especially in the admin when editing the post itself (ie. issues with metaboxes, media upload, etc.). Latin Character Tests This is [&hellip;]</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/markup/" rel="category tag">Markup</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/html/" rel="tag">html</a>, <a href="http://demo.basilosaur.us/beluga/tag/markup-2/" rel="tag">markup</a>, <a href="http://demo.basilosaur.us/beluga/tag/post/" rel="tag">post</a>, <a href="http://demo.basilosaur.us/beluga/tag/title/" rel="tag">title</a>			</span>
					
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
					
<article id="post-1173" class="post-1173 post type-post status-publish format-standard hentry category-markup tag-css tag-html tag-title">
	<header class="entry-header">
		<h2 class="entry-title"><a href="http://demo.basilosaur.us/beluga/2013/01/05/markup-title-with-markup/" rel="bookmark">Markup: Title With Markup</a></h2>
				<div class="entry-meta">
			<span class="posted-on"><span class="genericon genericon-day"></span> <a href="http://demo.basilosaur.us/beluga/2013/01/05/markup-title-with-markup/" rel="bookmark"><time class="entry-date published" datetime="2013-01-05T10:00:49+00:00">January 5, 2013</time></a></span>&nbsp;&nbsp;<span class="byline"> <span class="genericon genericon-user"></span> <span class="author vcard"><a class="url fn n" href="http://demo.basilosaur.us/beluga/author/adam-zolkover/">Marcus Tullius</a></span></span>		</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
	<div class="entry-thumbnail">
			</div>
	<div class="entry-content justified">
		<p>Verify that: The post title renders the word &#8220;with&#8221; in italics and the word &#8220;markup&#8221; in bold. The post title markup should be removed from the browser window / tab.</p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
								<span class="cat-links">
				<span class="genericon genericon-category"></span> <a href="http://demo.basilosaur.us/beluga/category/markup/" rel="category tag">Markup</a>			</span>
			
						&nbsp;|&nbsp;<span class="tags-links">
				<span class="genericon genericon-tag"></span> <a href="http://demo.basilosaur.us/beluga/tag/css/" rel="tag">css</a>, <a href="http://demo.basilosaur.us/beluga/tag/html/" rel="tag">html</a>, <a href="http://demo.basilosaur.us/beluga/tag/title/" rel="tag">title</a>			</span>
					
		
			</footer><!-- .entry-footer -->
</article><!-- #post-## -->

				
			
			</main><!-- #main -->
		</div>
	</div><!-- #primary -->

	<nav class="navigation paging-navigation" role="navigation">
		<h2 class="screen-reader-text">Posts navigation</h2>
		<div class="nav-links">

						<div class="nav-previous"><a href="http://demo.basilosaur.us/beluga/page/2/" ><span class="meta-nav">&larr;</span> Older posts</a></div>
			
			
		</div><!-- .nav-links -->
	</nav><!-- .navigation -->
	

	</div><!-- #content -->

	
{{ partial "footer.html" . }}